<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link">Adminpage</a>
        <a class="nav-item nav-link" routerLink="/admin" (click)=" getbyrole()">AllUsers</a>
        <a class="nav-item nav-link" (click)="getbystatus()">InactiveUsers</a>
        
        <a class="nav-item btn btn-danger" (click)="logout()">Logout</a>
        <ul class="nav navbar-nav navbar-right">

            <a class=" btn btn-success " style="cursor: pointer" (click)="printToExcel()">
                ExportAllTransactions
             </a>
            </ul>
    </div>
  
</nav>


<adminview [userlist]=userlist></adminview>